################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PDF project/FileContentIndex/76171efa-e8d7-4d0e-9130-0a503035f857.vsidx
